.Summary{
	border: 1px solid none;
	height: 325px;
	width: 250px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	background: white;
	align-content: center;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-family: 'Hanken Grotesk', sans-serif;
	padding-top: 10px;
	text-align: left;
	background: rgb(255, 254, 250);
	box-shadow: 10px 10px 10px hsla(234, 85%, 45%,0.1);

}
.Reaction{
	border: 1px solid none;
	height: 35px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	background: hsl(0, 100%, 67%,0.1);
	display: flex;
	flex-direction: row;
	border-radius: 5px;
    text-align: center;
    align-items: center;
  	margin-left: 25px;

}
.Memory{
	height: 35px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	background: hsla(39, 100%, 56%,0.1);
	border: 1px solid none;
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 15px;
	border-radius: 5px;
	align-items: center;

}
.Verbal{
	height: 35px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	background: hsla(166, 100%, 37%,0.1);
	border: 1px solid none;
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 15px;
	border-radius: 5px;
	align-items: center;
	
}
.Visual{
	height: 35px;
	width: 200px;
	font-size: 12px;
	font-weight: bold;
	background: hsla(234, 85%, 45%,0.1);
	lighting-color: 50%;
	border: 1px solid none;
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 15px;
	border-radius: 5px;
	align-items: center;
}
.Continue{
	height: 40px;
	width: 200px;
	border: 1px solid none;
	background: hsl(224, 30%, 27%);
	color: white;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	margin-top: 25px;
	justify-content: center;
	align-items: center;

}
#image-1{
	height: 15px;
	width: 15px;
	margin-left: 10px;
}
#image-2{
	height: 15px;
	width: 15px;
	margin-left: 10px;
}
#image-3{
	height: 15px;
	width: 15px;
	margin-left: 10px;
}
#image-4{
	height: 15px;
	width: 15px;
	margin-left: 10px;
}


.result{
	border: 1px solid none;
	height: 325px;
	width: 250px;
	border-radius: 20px;
	align-content: center;
	align-items: center;
	text-align: center;
	justify-content: center;
	background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
	color: hsl(241, 100%, 89%);
	font-size: 15px;
	font-family: 'Hanken Grotesk', sans-serif;
	padding-top: 10px;

}
.complete{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: center;
}

.circle{
	border: 1px solid none;
	border-radius: 50%;
	background: hsl(241, 81%, 54%);
	height: 130px;
	width: 130px;
	font-family: 'Hanken Grotesk', sans-serif;
	font-weight: bold;
	display: flex;
    justify-content: center;
    text-align: center;
	align-items: center;
	align-content: center;
    margin: auto;

}
.content{
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-top: -20px;
}


.para-0{
	font-size: 50px;
	color: hsl(0, 0%, 100%);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.para-1{
	font-size: 10px;
	color: hsl(241, 100%, 89%);
	text-align: center;
	margin-top: -62px;

}
.para-2{
	color: hsl(0, 0%, 100%);
	font-size: 18px;
	margin-top: 20px;

}
.pa{
	font-size: 10px;
	margin-left: 55px;
	margin-right: 55px;
	margin-top: -5px;


}



body{
	margin-top: 150px;
	margin-left: 381px;
	margin-right: 381px;
}

